* {box-sizing: border-box;}
img {width: 100%;}


.sec1 {
  background: url(../img/desktop-background.jpg);
  /*height: 100vh;*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 100%;
  padding: 60px;
  margin: auto;
}

.sec1 .sec1Box {
  background: white;
  height: 100%;
  width: 400px;
  margin: auto;
  padding: 30px;
  /*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);*/
  align-items: center;
  border-radius: 20px;
}

.sec1 .sec1Box h1 {
  font-size: 50px;
  color: #262626;
}

.sec1 .sec1Box h2 {
    color: #262626;
}

.sec1 .sec1Box img {
  opacity: 0.85;
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20px;

}

.sec1Contact ul {
  list-style: none;
  display: inline-block;
  padding-right: 55px;
}

.sec1Contact ul li {
  font-size: 45px;
  margin: 10px;
  display: inline-block;
}

.sec1Contact ul li a {
  color: #262626;
}

.sec1Contact ul li a:hover {
  color: #555557;
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.1);
}


.sec2 {
  height: 100%;
  background: #262626;
  color: white;
}

.sec2 h1 {
  font-size: 90px;
  font-family: Crimson;
}

.sec2 ul {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.sec2 ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.sec2 ul li i {
  font-size: 120px;
}
.sec2Skills ul li:hover {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.1);
}

.sec3 {
  background: #808080;
  height: 100%;
  padding: 20px;
}

.sec3 h1 {
  color: #262626;
  font-family: Crimson;
  font-size: 90px;
}

.sec3 h4 {
  text-align: center;
}

.sec3 img {
  padding: 20px;
  width: 100%;
  height: 400px;
}

.sec3 h2 {
  font-family: Crimson;
}

.sec4 {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.sec4 ul {
  list-style: none;
  padding-right: 55px;
  display: inline-block;
}

.sec4 ul li {
  font-size: 20px;
  margin: 10px;
  display: inline-block;
}

.sec4 ul li a {
  color: #262626;
}

.sec4 ul li a:hover {
  color: #262626;
}


@media (max-width: 768px) {
  .sec1 h1 {
    font-size: 60px;
  }
  .sec3 img {
    height: auto;
  }
}

@media (max-width: 375px) {
  .sec1 {
    height: 100%;
  }
}
